[2017-11-13 18:43] patleeman opened #1 "Git commit and push command"
Add a command to commit and push all changes in the directory.

[2017-11-13 21:26] patleeman opened #2 "The icon is terrible"
I couldn't design a beautiful icon to save my life.

If somebody would like to jump in and create a nice icon to replace the shitty icon added in v.0.3.1, I would be eternally grateful.

[Current Icon](https://github.com/patleeman/VSNotes/tree/master/media/icon)

[2017-11-14 02:13] patleeman commented on #1
Currently the Git extension exports is not publically available and I am unable to hook into the current git extension to commit and push.

https://github.com/Microsoft/vscode/issues/31103

[2017-11-14 16:39] patleeman commented on #1
Implemented this feature using shell commands temporarily.  If the vscode team opens up the git extension api then I will consider switching to that.

https://github.com/patleeman/VSNotes/commit/7517a6a0e939f0826b9017d8ff7ad924911caae4
https://github.com/patleeman/VSNotes/commit/7b44439e0f519ac93d684119c91a237e31156e87
https://github.com/patleeman/VSNotes/commit/5943cbbe4cf689c4f7e39b5b2da570c8e0f

[2017-11-14 16:39] #1 closed

[2017-11-14 17:47] davesbrown opened #3 "Path settings for D drive recognized as C:\D:\$path"
When running setup and selecting a folder in my D drive, it does not seem to be recognized.  Viewing the path in the explorer pane for VS NOTES show an Error ENOENT: no such file or director, lstat 'C:\D:\vsnotes'

[2017-11-14 17:50] patleeman commented on #3
@davesbrown Can you open your settings `ctrl + ,` and see what the path is set to here:

`"vsnotes.defaultNotePath": "<some path goes here>",`

Is it showing C:\D:\ or is it just showing the D:\ path?

Thanks

[2017-11-14 17:52] davesbrown commented on #3
It was showing D:\path

[2017-11-14 17:55] patleeman commented on #3
Thanks @davesbrown. I don't have access to a windows computer right now, will check it out tonight.

[2017-11-14 18:02] davesbrown commented on #3
FWIW, I have testing using the C drive, and it is also getting an error, but with ... lstat 'C:\C:\testing'

[2017-11-14 18:04] patleeman commented on #3
Can you try removing the slash before the C?
[code]

[2017-11-14 18:10] davesbrown commented on #3
That has resolved the issue.  I have tried both C and D drives successfully, only after removing the leading slash after running setup.

[2017-11-14 18:11] patleeman commented on #3
Thanks for your help identifying the issue @davesbrown! I will research the issue and take steps to prevent this.

[2017-11-14 19:24] patleeman commented on #3
https://github.com/patleeman/VSNotes/commit/9fd5d44be26d3806ec62558d316b83c23f877fac fixes this issue. Version 0.4.1 pushed to the market place and this issue should be resolved.

[2017-11-14 19:24] #3 closed

[2017-11-14 20:03] davesbrown commented on #3
---
tags:
  - Testing
---
# Testing 0.4.1
Yay fspath working!

[2017-11-14 20:27] patleeman opened #4 "Add search command"
A search command that opens the search bar, populates the path for the note path and adds the ignore regex to files to exclude.

[2017-12-20 16:33] promethyttrium opened #5 "Please add context menu to file items in the navigation tree"
Great extension! Wish right click menu works so I can view the markdown file in preview mode.

[2017-12-20 16:49] patleeman commented on #5
Hey @promethyttrium

Great idea. I didn't even think of adding context menus.

Looks like the API is here: https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributesmenus

What kinds of options were you thinking of?

- Open
- Preview

[2017-12-20 18:58] promethyttrium commented on #5
@patleeman , actually, all i was really looking for was to use the built-in markdown preview to the side action. But if you can make it work like the main explorer tree where the user can use any action associated with a file, that would be wonderful.

[2017-12-21 20:19] patleeman commented on #5
@promethyttrium I'm not sure what you mean?

Do you mean a context menu option to open up the split screen markdown preview?

I'll look into it!

[2018-01-15 23:08] yngwi commented on #5
Also it would be great to be able to delete notes again.

[2018-01-17 02:27] promethyttrium commented on #5
I think with the new multi-root workspace functionality, this is no longer as pressing as before. To regain all the usual actions (such as right click preview, and delete, etc.), I've simply adding the directory where my notes are stored as a separate root within my current workspace.

[2018-01-31 20:52] patleeman commented on #5
Sorry for no updates on this. Haven't had much time. If anyone wants to take a crack at it, I can help give some guidance.

[2018-02-04 15:38] themakshter commented on #2
Any ideas of what sort of design you are looking for?

[2018-02-04 15:40] patleeman commented on #2
Not really.

If you have a style or something you'd like to go with, please feel free and be my guest!

[2018-03-02 18:51] yngwi opened #6 "Date navigation in sidebar"
Hi,

thanks for the great extension! It would be very convenient to have the possibility to navigate by date in addition to "Files" and "Tags" in the sidebar. Do you think this would be possible?

Kind regards,
Daniel

[2018-03-06 13:26] patleeman commented on #6
That's a good idea, could be very useful, though I'm not sure how granular the organization should be. Should the dates be split into year, then month, then day?

Like this:

[code]

or should it be more of a flat structure
[code]

[2018-03-06 20:28] patleeman commented on #4
Search command added

https://github.com/patleeman/VSNotes/commit/d06ff7c1ad9c0bcc787b5e893c2c167f27a2faee

[2018-03-06 20:28] #4 closed

[2018-03-07 01:36] dlip opened #7 "Note path with ~ for home folder not working"
If you set a relative note location in settings.json it fails to find the directory. eg:

[code]

[2018-03-08 10:43] yngwi commented on #6
Hm i guess the granular organization would be better considering the fact that the list will be rather big very quickly and hard to manage. Also, you already get the flat structure (kind of) with the filenames itself.

[2018-03-14 19:03] Belphemur opened #8 "Use the workplace folder as default path for new note"
Hello,

It would be great to be able to set (or have this as default) the workspaceRoot as the default folder for new notes.

[2018-03-15 17:48] patleeman commented on #7
Currently the only sanctioned way to store the path is a full absolute path. I don't intend on adding any checks to the path at this time.

Thanks!

[2018-03-15 17:48] #7 closed

[2018-03-15 17:54] patleeman commented on #8
Hi @Belphemur,

The goal of the note taking app is to create notes in a single directory no matter what project or workspace you have open. On one hand, I can see how creating a new note in the current directory is a nice feature, but at that point you're better off using the built in snippets feature and simply creating a new file in that directory based on a snippet.

This would also change the

[2018-03-15 19:11] Belphemur commented on #8
Hello @patleeman,

I understand your decision.

Could you then add the possibility to use the variable ${workspaceFolder} in default path ?

The reason I was asking this, is because I have synchronised my note on different computer with different OSes. The path is different, and for convenience I setup the path in the workspace configuration not the user configuration.

[2018-03-23 19:19] stemcc opened #9 "Feature request: Directory name as token"
Would love to be able to use the directory name as a token option when saving notes.

Ideal file name utilizing tokens:

`{directoryName}__{title}.}{ext}`
`{directoryName}{subDirectoryName}__{title}.}{ext}`

[2018-03-30 06:17] Philiphlop commented on #2
I'm no artist, but pulled this together, think it gets the point across. I've created these in vector, so can scale to whatever is needed. PNGs below have backgrounds, but can be transparent also.

**Dark BG**
![Dark BG](https://i.imgur.com/ZWIDXpw.png)

**Light BG**
![Dark BG](https://i.imgur.com/lI1I39L.png)

Any thoughts?

[2018-03-30 06:40] Philiphlop opened #10 "Feature request: Sub-Tags"
Tags currently appear flat
* Foo
* Bar
* Lemon
* Pie

Would like to be able to make sub tags like so
* Foo/Apple
* Foo/Orange

And have these appear in the side panel as
* Foo
  * Apple
  * Orange

[2018-03-30 07:19] Philiphlop opened #11 "Feature request: Hide files from side panel"
Currently the side panel shows folder/files as well as tags. VSC also shows a files section, which is not hidable within the UI. These two areas can be switched around, and resized by the user. My preferred storing method is dated archive folders, with hierarcical tags for organisation. So tags is where I will be spending most of my time, vs folders.

![vsc_001](https://user-images.githubuserconte

[2018-03-30 10:34] themakshter commented on #2
It's a great attempt and it looks snazzy. But I think when minimised, it might be difficult to see fully. I think the amount of detail, e.g. the lines below could be reduced so when you see it as a smaller icon, it's easily viewable.

[2018-03-31 18:53] Philiphlop commented on #2
Ok cool, yeah I think you're right. I did some changes, perhaps more suitable now. Below is different size examples of 2 types from your feedback. They are using VSC dark bg colour.

002_64x64
![vsnotes_002_vsc_64](https://user-images.githubusercontent.com/22427598/38166516-cb67f762-351c-11e8-9945-1525ad2a6107.png)
002_512x512
![vsnotes_002_vsc_512](https://user-images.githubusercontent.com/224275

[2018-03-31 19:51] Philiphlop opened #12 "Feature request: Sort tags alphabetically"
At present it seems to load the tags in order that the notes are loaded. Notes appear to be loaded alphabetically. But tags are separate from notes so don't follow the same flow.

This will make tags much easier to find by users, especially if lots of tags are used.

I personally like structured tags, so have the following as an example

* Personal/Misc/Lists
* Work/Products/XYZ
* Work/Technology/

[2018-04-06 12:11] patleeman commented on #2
Hey @Philiphlop! Thanks for the cool icons. I really love the idea of using the # symbol as part of the logo. Having three icons may be too much to have in a single logo though.

The #VSNotes idea is pretty awesome though. It could be cool to combine the hash with the V character. I can take a stab at doing that in Sketch.

[2018-04-06 12:16] patleeman commented on #11
Hey @Philiphlop

I don't think I can actually hide that dialog. It's the main VS Code file tree structure, nor would I want to hide it. For myself, a use case for having both is that sometimes I'll be working on a project in VS Code which resides in a different directory, then I'd want to access my notes without having to open the folder my notes reside in.

There may be a setting to keep the tree

[2018-04-06 12:34] patleeman commented on #10
I like the idea of sub tags but I think that instead of using a slash delimiter between subtags, we can go with something more YAML semantic and a bit more recursive. How about this:

[code]

[2018-04-06 12:35] patleeman commented on #12
This is a good idea, will look into sorting the array before returning.

[2018-04-06 16:43] Philiphlop commented on #2
Do you mean more like this? Part of the challenge is maintaining a square shape without loads of blank space. If it isn't square then it won't fit in different places. Even our photos on here are square. But sometimes there isn't anything wrong with blank space

004_512
![vsnotes_004_vsc_512](https://user-images.githubusercontent.com/22427598/38433179-d1fc8292-39c1-11e8-949d-8bd4a8eea042.png)

004

[2018-04-06 16:53] Philiphlop commented on #11
I wouldn't want to hide the VSCode one, but hide the VSNotes folder part, keeping just the tags part, via a user preference option. So if user has it set to hide, don't output it to the sidebar when the tags are output.

That usecase makes perfect sense. For me, I don't code for a job, so everything is a note in effect, VSC/VSN is my Evernote replacement, and I have a Personal-Notes and Work-Notes

[2018-04-06 16:57] Philiphlop commented on #10
That looks good :-) Either way it's good. Don't know if it's possible to suggest tags, to speed up the building of perhaps longer trees (probably a different feature focus).

[2018-04-08 16:58] patleeman commented on #2
I agree with @themakshter. I was thinking something like this:

![screen shot 2018-04-08 at 12 56 18 pm](https://user-images.githubusercontent.com/11035426/38470118-70f65db2-3b2c-11e8-80d1-f62700524b84.png)

[2018-04-09 06:01] Philiphlop commented on #2
That does look funky. Have you tried it in smaller tiles, as it would be displayed in the VSC extensions list? I imagine a lot of users are going to find this via that method, so be good to see how it fits in that space.

[2018-04-15 01:35] rbenson opened #13 "Forgot to upload explorer screen shot"
The link to the explorer view is broken, doesn't look like it was added to the commit.

[2018-04-15 03:28] rbenson opened #14 "Updates for 1.2x+?"
I think it would be good idea to update the readme to cover improvements to VS Code.

Examples:

- [Global Snippets](https://code.visualstudio.com/updates/v1_20#_global-snippets) were released in January. Using the `code-snippet` would  probably be more reliable or easy to manage.
- Does this create a [workspace](https://code.visualstudio.com/docs/editor/multi-root-workspaces), how it interacts wi

[2018-06-06 11:03] phelma opened #16 "Quick and easy single command new note"
I would like to be able to have some key shortcut which instantly creates a new note, with current date and time as file name, and take me straight to the editing of the body of that note.

So after 1 command I can start typing my note.

I might have a look into the code to se if I can add a PR with this.

[2018-06-06 14:04] phelma commented on #2
![artboard](https://user-images.githubusercontent.com/4057948/41043048-f60cde44-699a-11e8-800e-196abae8f379.png)

[2018-06-06 14:37] phelma commented on #16
I have added a PR for this #17

[2018-06-06 14:54] patleeman commented on #12
Thanks for the PR @Philiphlop. Merged. Will release a new version soon.

[2018-06-06 14:54] #12 closed

[2018-06-06 14:55] patleeman commented on #2
Love it!

[2018-06-06 15:05] patleeman commented on #11
Oh i see what you're saying.

A flag could be added for that for sure. Would you be interested in submitting a PR for this?

[2018-06-06 15:12] phelma commented on #2
yes absolutely

[2018-06-06 15:16] phelma commented on #2
Everything you need should be in there

[VSNotesIcon.zip](https://github.com/patleeman/VSNotes/files/2076885/VSNotesIcon.zip)

[2018-06-06 15:50] patleeman commented on #2
Amazing! Thanks @phelma! Closing this issue.

[2018-06-06 15:50] #2 closed

[2018-06-12 06:35] ukyoi opened #19 "“"

[2018-06-12 07:19] ukyoi opened #20 ""List recent notes" is actually listing from the oldest notes"
Thanks for reading this and please excuse my poor English.

I've used VSNotes a few times. Today I found the "List recent notes" function can't show my recent note files. With further comparison of the file in the note folder, I found this function actually listing from the oldest notes and the length of the list just exceed the limit of the list item.

Here is a picture which may explain the issu

[2018-06-12 13:36] #19 closed

[2018-06-12 13:49] patleeman commented on #20
@ukyo The list recent notes functionality actually sorts the notes by last accessed time (mtime), not last created or by the timestamp in the note name. The idea behind this function is to quickly access the notes you've modified last. So by your screenshot, it looks to be working properly, if haven't gone back and edited any of the other notes.

[Here's the code](https://github.com/patleeman/VSNo

[2018-06-12 13:55] patleeman commented on #14
Thanks for the suggestions @rbenson!

I'm not sure Global Snippets have that much more benefit over language-specific snippets since the default note extension for VSNotes is markdown. What would the benefits of using global snippets over language specific ones be?

VSNotes doesn't do anything with workspaces. When using the command Open Note Folder, it will open a new window with a single workspa

[2018-06-12 13:56] patleeman commented on #13
Fixed in the new update.

[2018-06-12 13:56] #13 closed

[2018-06-12 13:57] patleeman commented on #6
I don't have the time to work on this functionality right now. I'm going to mark it as help wanted and if anyone would like to take a crack at it, please feel free.

[2018-06-12 13:59] patleeman commented on #9
@stemcc sorry for the late response.

Which directoryName are you referring to? The base directory of your note folder?

[2018-06-13 10:34] ukyoi commented on #20
@patleeman Thanks for you reply. Now I know where the problem is. The sorting result is correct. But if number of items exceed the listRecentLimit, The list just drop the former items rather than the latter items (at least on my hardware and software environment), so that the most recent items have just been dropped and unable be displayed on the list.

OS: macOS 10.13.5
Hardware: MacBook Pro (Ret

[2018-06-17 21:43] rbenson commented on #14
The benefit would be to prevent your snippet work around to potentially overwrite other snippets.

[2018-07-02 13:54] patleeman commented on #20
Thanks for debugging that @ukyoi!

Unfortunately, I'm pretty busy these days and don't have much time to implement this fix. If you can submit a PR to fix this, that would be extremely helpful.

[2018-07-06 14:43] bpatram opened #21 "Show as new activity bar item"
Hi, In VSCode 1.24 having extensions able to [create new icons in the Activity bar was added](https://code.visualstudio.com/updates/v1_23#_contributions-to-the-activity-bar). I think this extension would be better suited as having its own activty bar icon and section rather than exist within the existing Explorer section.

![image](https://user-images.githubusercontent.com/5579960/42384879-3793e1e

[2018-07-06 15:16] patleeman commented on #21
Hey this is awesome. I didn't realize they finally allowed extension authors to add it. I'll look into moving the tree view out of the file explorer.

[2018-07-06 16:09] patleeman commented on #21
Added in https://github.com/patleeman/VSNotes/pull/18/commits/c2c382c8ed16695e8f424dcdd8c2b10f8a562cd0

[2018-07-06 16:09] #21 closed

[2018-07-06 16:29] #16 closed

[2018-07-06 16:34] patleeman commented on #20
Fixed in https://github.com/patleeman/VSNotes/pull/18/commits/d1aa0cd64b8b8ebad6ea372bf408092f0d923140

[2018-07-06 16:34] #20 closed

[2018-07-06 16:51] patleeman commented on #11
Added in https://github.com/patleeman/VSNotes/pull/18/commits/936d53f39ae36c3f0372d09613e4d6db0cca90e6

[2018-07-06 16:51] #11 closed

[2018-07-06 17:01] patleeman opened #22 "Context menu in sidebar"
Add a context menu to the tags and files in the sidebar.

[2018-07-06 17:02] patleeman commented on #5
Added this feature as a roadmap feature #22

[2018-07-06 17:02] #5 closed

[2018-07-07 16:48] ukyoi commented on #20
@patleeman Now it works like a charm. Thanks for your work.

[2018-07-17 19:46] nealot opened #24 "Clicking on sub-folder doesn't expand folder"
If you create a folder under the files folder and then click on it, it has this strange effect of quickly opening and then closing a file. The default behavior for clicking on a folder in Explorer expands the folder so this would be a much more intuitive implementation.

[2018-07-17 19:56] patleeman commented on #24
Agreed. I am able to repro this bug.

[2018-07-25 06:21] jacobdufault opened #25 "Support ${workspaceFolder} in defaultNotePath"
It'd be great to use vsnotes for notes for a specific project. It looks like `vsnotes.defaultNotePath` needs to be an absolute path; can you support injecting `${workspaceFolder}` similar to other extensions?

I looked briefly at the code to do this but it seems like the config value is read in a lot of different places.

[code]

Thanks!

[2018-08-22 10:35] marc-spinozza opened #26 "Redefinition of defaultNoteTitle is not working"
I have redefined the following settings in my user space:

    "vsnotes.tokens": [
        {
            "type": "datetime",
            "token": "{dt}",
            "format": "YYYYMMDD",
            "description": "Insert formatted datetime."
        },
        {
            "type": "title",
            "token": "{title}",
            "description": "Insert note title from input box.",

[2018-08-26 09:41] jebbster88 opened #27 "New Note Tab Completion"
I generally have 3 sets of notes, which exist as sub folders of the notes directory.
- Work Specific  - work specific notes I dont want to sync outside of the domain
- Personal - personal notes that live only on my personal machine
- Generic - Git repo for syncing all my generic tech notes

Any note I create will exist in one of those 3 sub folders, so new notes will usually take the form `Generic

[2018-08-27 09:52] harg opened #28 "Simplenote integration"
Thank you for your work.

It would be cool to have simplenote integration. 👓
https://simplenote.com/

(mostly for the syncing stuff)

[2018-09-05 13:44] patleeman commented on #28
Hey @harg, thanks for the suggestion.

One of my goals for this project is to keep it as simple as possible. It is scoped pretty tightly and I'm hesitant to add new features, integrations, or anything else really.

The note format is pretty simple and if so inclined, I think somebody could write a simple syncing tool between simplenote and a VSNotes note folder. All the notes are stored as plain t

[2018-09-05 13:44] #28 closed

[2018-09-05 13:59] patleeman commented on #27
It might be possible with `window.createInputBox` instead of `window.showInputBox` but it will take a bunch of experimentation on my part. I will look into it. I like the idea for tab completion, and I'll see if it's possible.

https://code.visualstudio.com/docs/extensionAPI/vscode-api#InputBox

[2018-09-05 14:05] patleeman commented on #24
Note to self: If you click on the actual folder, vs code will try to open it as a file.

[2018-09-06 11:30] jbmorgado opened #29 "Can't start setup uppon installation"
I tried to install the extension.

I'm running the latest VSCode on Ubuntu 18.04.1

Uppon installing and reloading VSCode when trying to start the setup with:
"Open the command palette Ctrl/Cmd + Shift + p and type vsnotes. Select Run Setup."

the setup doesn't even start and the following error is shown: `command 'extension.setupNotes' not found`

[2018-09-07 02:29] mayur-chauhan opened #30 "Feature suggestion"
- Please add option where we can (change naming convection) name notes by project i.e. project 1 notes, general notes etc.
- And an option to highlight specific keywords (like pending TODOs, or highlight credentials etc) will be the best.

[2018-09-07 11:10] patleeman commented on #30
Hi,

I'm not exactly sure what you mean with either of these features. Can you elaborate? What does name notes by project mean?

As far as syntax highlighting, there are scores of syntax highlighters for markdown files (the default note extension) or other file types. There are no plans to add any highlighting features. VSNotes simply manages the files in a note directory.

[2018-09-07 11:11] patleeman commented on #29
Can you try uninstalling the extension and re-installing and fully reloading vs code? From the error it looks like something is missing or it isn't loaded.

[2018-09-07 11:15] mayur-chauhan commented on #30
Hello Petrik,

Wow, thanks for replying.

By project name I ment, suppose you're working on VSnotes then you should be able to name it by VS notes, and if you're working on "some extension 2" side by side then you should be able to name your note by Extension 2 notes.

PS: I just suggest that people should allow to give any name without date and time {dt}.

#LoveVSnotes.

Kind regards,
Mayur Chauh

[2018-09-07 11:27] jbmorgado commented on #29
I did that and I also installed it in another machine (same OS). The error remains the same.

[2018-09-08 05:02] cstuder opened #31 "Unable to create keyboard shortcuts for commands"
I am unable to define keyboard shortcuts for any of the commands VSNotes offers. They are unlisted in the Keyboard Shortcuts dialog.

I suspect the issue stems from the commands called `extension.something` instead of `vsnotes.something` in the `package.json` and `extension.js`:

https://github.com/patleeman/VSNotes/blob/master/package.json#L168

https://github.com/patleeman/VSNotes/blob/master/ex

[2018-09-20 16:01] fredericcormier commented on #30
Hi,

Would you consider let us set the default path relative to the home folder like ie:
`~/coding/vsnotes`
This would make syncing with dropbox/onedrive etc  much much easier.

[2018-09-20 16:06] patleeman commented on #30
@fredericcormier that should be possible. Can you open a new issue?

[2018-09-20 16:10] fredericcormier opened #32 "Set the default path relative to the home folder"
Hi,

Would you consider let us set the default path relative to the home folder like ie:
`~/coding/vsnotes`
This would make syncing with dropbox/onedrive etc much much easier.

[2018-09-20 16:10] fredericcormier commented on #30
I will.
Thanks

[2018-10-08 19:49] cstuder commented on #31
Wait, this is weird. The available keyboard shortcuts seem to differ between MacOS and Windows.

On MacOS, it works fine and a lot of commands are available:

<img width="923" alt="notes_mac" src="https://user-images.githubusercontent.com/288493/46630238-f2b51080-cb43-11e8-8cf6-f4de994c8524.png">

But on Windows 10 (Same VSCode version, same VSNotes version), only one command is available:

![note

[2018-10-08 19:57] patleeman commented on #31
Thanks for filing an issue! I have some time and I'll work on this now.

[2018-10-08 20:21] patleeman commented on #31
So from some initial testing, it looks like none of the keybindings will show up on a fresh boot of vs code since the extension hasn't started up yet. If you execute a vsnotes command, the extension will activate and you can then see the commands in the keybinding editor.

[2018-10-08 20:27] patleeman commented on #31
Namespace updated in https://github.com/patleeman/VSNotes/commit/f26922d9dc38ae7db14baccc2574244057a329f4 I'm going to close this issue.

[2018-10-08 20:27] #31 closed

[2018-10-08 20:28] patleeman commented on #29
This might be fixed with the forthcoming update.

https://github.com/patleeman/VSNotes/commit/f26922d9dc38ae7db14baccc2574244057a329f4

[2018-10-08 20:28] #29 closed

[2018-10-08 20:32] cstuder commented on #31
Ok, thanks for the workaround!

[2018-10-08 20:46] #26 closed

[2018-10-08 20:46] patleeman commented on #26
Fixed in https://github.com/patleeman/VSNotes/issues/26

[2018-10-08 21:23] patleeman commented on #32
Added in https://github.com/patleeman/VSNotes/commit/ef1a9a22922d424e2fb056d92869a504ef863889

[2018-10-08 21:23] #32 closed

[2018-10-08 22:05] patleeman commented on #25
I added a new command. Create note in workspace. I hope this helps!

https://github.com/patleeman/VSNotes/commit/1966239551cd339705fb312d12e534d7846749ab

[2018-10-08 22:05] #25 closed

[2018-10-24 08:13] michaelgenesini opened #33 "Feature: choose a snippet on newNote"
What do you think about a question after 'newNote' prompt that ask you which snippet to execute?

I'd like to create some custom snippet in VSCode to use as template for my notes for example:

[code]

What do you think guys?

Thanks 🤝 ❤️

[2018-11-05 21:24] patleeman opened #36 "Interested in helping VS Notes?"
It seems like VS Notes has been growing pretty steadily and more and more people are using it. Unfortunately I haven't been giving it much time or using it much myself. If anyone is willing to join me in maintaining this extension please let me know!

[2018-11-14 14:06] michaelgenesini commented on #36
Hi @patleeman, I'm interested in helping VS Note!

[2018-11-14 14:48] patleeman commented on #36
Awesome! Thanks @michaelgenesini! I sent you a collaborator invite.

[2018-11-14 14:49] #33 closed

[2018-11-26 17:51] sutram opened #37 "VSNotes folder error"
Hi,
I've started using VSNotes and really enjoy using it. I am running into a weird error while trying to bring up the notes folder via Cmd+Shift+P. I click on `VSNotes: Open Notes Folder` and I get the following dialog box

![screen shot 2018-11-26 at 10 42 17 am](https://user-images.githubusercontent.com/8870300/49032043-d52a1d80-f168-11e8-9301-eb4eb293c285.png)

My notes directory is set to `~/

[2018-11-29 12:52] patleeman commented on #37
Hey @sutram

Your notes folder is set to  `/~/` This path is looking for a  `/~` folder in the root directory.  Try removing the leading slash.

I'm still maintaining the plugin and the code base is in vanilla JS, not typescript.

[2018-11-29 12:52] #37 closed

[2018-11-29 13:38] sutram commented on #37
Thanks for responding @patleeman

I don't have a leading slash as I mention in my previous post.

Here is how it is set:

![image](https://user-images.githubusercontent.com/8870300/49225326-f8d7a880-f3a0-11e8-9901-4aee93e6d635.png)

The notes tree works and when I create a note, it lands corrects in that directory. The only thing that doesn't work is the notes folder.

Thanks.

PS: I am glad you a

[2018-11-29 13:39] patleeman commented on #37
Ah I missed that. I’ll take a look again.

On Thu, Nov 29, 2018 at 8:38 AM sutram <notifications@github.com> wrote:

[2019-01-13 15:40] anishmittal2020 commented on #5
Archiving notes might be a nice feature.

[2019-01-17 09:39] Philiphlop commented on #10
I have tried to take a look at the code on how to do this, but I'm not a JS/VSCode developer, or developer by trade at all. So got entirely lost. If you're able to point me at the appropriate places/things I can give it another go. I have many many tags, and lack of being able to close them gets in the way of navigating them.

[2019-01-29 09:45] clydegale opened #39 "token expansion before filepath detection"
## What I'm doing
Creating a new note via the "VSNotes: Create a new Note" option with the following name:
`meeting/test meeting`

## Expected behaviour
As [documented](https://marketplace.visualstudio.com/items?itemName=patricklee.vsnotes#user-content-file-path-detection) I expect that the folder "meeting" is created and inside will be the note with expanded tokens (i.e. a timestamp):
`meeting/20

[2019-01-30 03:07] wolfhoundjesse commented on #36
I want to help!

[2019-01-30 03:53] wolfhoundjesse commented on #39
The extension is splitting based on the path separator, in the case of Windows, a back slash, but you are using a forward slash. I haven't tested the behavior on Linux.

[2019-01-30 05:47] wolfhoundjesse commented on #27
If we recurse the default directory and create a list of subdirectories as described [here](https://github.com/dkundel/vscode-new-file/issues/24#issuecomment-304969123), performance will suffer greatly for users with a large number of subdirectories.

A compromise might be to manually configure the list for the QuickPick:

[code]

[2019-01-30 15:09] clydegale commented on #39
Ah, I see. It is working with backslash. Thank you for your quick response 👍

[2019-01-30 15:09] #39 closed

[2019-01-30 18:04] patleeman commented on #36
Awesome! Thank you @wolfhoundjesse! I'll add you to the repo.

[2019-01-30 18:59] estimmel opened #41 "Tags that use tabs for indentation cause the tabs sidebar to fail to display any tags"

[2019-01-30 19:06] estimmel commented on #41
I think this is because the header is specified as YAML and YAML doesn't support tabs, but it would be helpful if the extension could let me know that's why it's failing. Is it possible to handle this more gracefully, especially for those of us who aren't that familiar with YAML's strict requirements

![image](https://user-images.githubusercontent.com/1373088/52005675-1dbec980-247f-11e9-9f03-0a8a9

[2019-01-30 20:56] #24 closed

[2019-01-30 21:37] wolfhoundjesse opened #42 "Are we tied to VanillaJS?"

[2019-01-30 21:39] patleeman commented on #42
I'm not opposed to TypeScript. I don't know it, so I stuck with vanilla.

[2019-01-30 21:50] wolfhoundjesse commented on #42
That makes sense! 😉

I'm learning a lot about the APIs by rewriting this in TypeScript, so I'm going to keep going with it. You can decide later if you want to make the switch or not. Thanks for the quick response!

[2019-01-30 21:50] #42 closed

[2019-01-30 21:51] patleeman commented on #42
Awesome, i'd love to see the code when you're done!

[2019-01-30 21:53] wolfhoundjesse commented on #41
Maybe we can check for Tabs once we've parsed it with _gray-matter_, and if found, we can send a notification requesting the user change their workspace settings to convert Tabs to spaces.

[2019-02-05 20:16] kv-gits opened #43 "Cant pace vsnotes sidebar under the workspace sidebar"
Only available on separate vsnotes sidebar by clicking vsnotes icon. But in docs I see it is under workspace sidebar.

[2019-02-06 08:48] kv-gits commented on #43
Found that it is feature of 0.5.1 Would be much more comfortable to keep both tree views - separate and in explorer.

[2019-02-06 18:24] wolfhoundjesse commented on #43
@kv-gits Would you mind including screenshots for reference?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-06 20:27] kv-gits commented on #43
In commit 0.5.1 treeview moved to separate sidebar. I just added adiitional treeview and append it to explorer.
[code]
and in package.json also
[code]
Now looks nicer

[2019-02-08 13:38] patleeman commented on #42
Awesome, can't wait to see it.

[2019-02-09 10:33] koliyo opened #44 "Create notes without date in filename"
Sometimes I would like to create notes that does not contain the creation date in the file name. This is notes that I continuously update and are not bound to a specific date.

I think it would be really useful with a command to allow creating this type of note. Something like `VSNotes: Create new note without date`

And if I name this `Foo`, the note would be called `Foo.md` instead of `${date}_F

[2019-02-09 10:40] koliyo opened #45 "Rename list recent notes command"
I suggest renaming the `List recent notes` command to just `Open note`. The functionality should be the same, a stack of recently used notes (sorted chronologically), and a search box to filter/jump to a specific note.

[2019-02-09 18:58] casonadams commented on #36
@patleeman  I'd love to help out.  Is there any documentation on how to develop?

[2019-02-09 19:13] wolfhoundjesse commented on #36
The recent release of VS Code 1.31.0 included updated documentation and examples for the [extensions APIs](https://code.visualstudio.com/api).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-12 09:42] paulcarroty opened #46 "How to sync with another machines?"
SUBJ. Will be very helpful, for example a work/home switch. I'd suggest to use Gist like [code-settings-sync](https://github.com/shanalikhan/code-settings-sync/) does.

[2019-02-13 21:53] wolfhoundjesse commented on #46
I'm keeping my notes in my new, free private github repository so that I can have them anywhere.

[2019-02-13 22:03] patleeman commented on #46
It's a directory of files. I'd suggest sticking them in a synced cloud storage folder, or use [git to commit and push it](https://github.com/patleeman/VSNotes#commit-and-push).

[2019-02-14 08:03] #46 closed

[2019-02-14 18:02] wolfhoundjesse commented on #30
Duplicate of #44

[2019-02-14 18:02] #30 closed

[2019-02-18 14:13] wolfhoundjesse commented on #41
Here's what I've found so far:

We're working with Node Buffer objects which do not come with string manipulation, so simply checking for tabs and replacing them with spaces only works if we are willing to convert Buffers to strings. I'm not sure what the overhead would be.

gray-matter itself doesn't have any advice on this issue, and the dependency it uses for parsing YAML, _js-yaml_, is facing

[2019-03-07 17:34] donaldtone opened #48 "Vsnotes refresh tags information for ever"
Vsnotes has a tag-view function.
Anyway,  if there is an error in the YAML frontmatter,
like `tags:`, miss the `:`, just `tags`
in this case, the Vsnotes will continue to refresh tag-view and keep busy.
It will be better to just ignore the wrong YAML frontmatter or show some kind of notice information.

Example YAML frontmatter

// file.md
---
tags:
  - tag1
  - tag2
---

The rest of the document

[2019-03-11 20:53] juanlet opened #49 "Push and commit option is failing: Commit and push failed to execute"
I already set the notes directory as a git one with git init. Then I set the remote repo and then I went to vscode to use the ctrl+p option VSNotes: Commit and push but it fails. Any idea why? I have the default configuration which seems to have the right command to perform the task, the "commit push shell command" is set like:

git add -A && git commit -m '{msg}' && git push

Any ideas?

[2019-03-24 18:56] jonasmellquist commented on #49
The last bit `git push` will only work if you actually setup a `remote` for your repo. Did you do so?
https://www.atlassian.com/git/tutorials/syncing

Try writing `git remote -v` to see a list of remotes in our VSNotes root directory - if this comes back empty and you don't want to sync to a remote repo, then remove `&& git push` from the "commit push shell command" in the settings.

It will still

[2019-03-26 04:14] feigaoxyz commented on #44
Guess you can change `vsnotes.defaultNoteTitle` to `{title}.{ext}` ?

[2019-03-26 07:41] koliyo commented on #44
Sure, but the common case is that I do want the date. Just sometimes that I want to skip the date.

[2019-03-28 00:10] feigaoxyz commented on #44
Totally feel you. That's why I changed the default title without date. If I needed date time for certain notes, I am invoking a snippet to create it when input the title (via 3rd party software such as keyboard maestro).

[2019-04-08 18:11] AdeelK93 commented on #49
If you're using Windows, you have to use `git commit -m "{msg}"` rather than `git commit -m '{msg}'` since Windows doesn't like that single quote

[2019-04-09 17:14] pycckuu commented on #4
it doesn't work in my case. It looks for the files to include in `./../../../../Google Drive/GDocuments/notes/vsnotes` and it is out of the scope of the project. Maybe absolute paths would work better?

[2019-04-19 15:56] MaddawgX9 opened #51 "Add ability to remove/delete notes"
I would really like to be able to remove old notes from VSCode instead of having to navigate the OS file system.

[2019-04-30 13:37] daddy32 commented on #48
Same if the list of tags is formatted incorrectly, for example indented with tabs instead of spaces (even though official readme uses `\t` in snippet definition).

[2019-05-18 15:15] noraj opened #52 "alternativeto.net"
I added VSNotes on alternativeto.net as a notes-taking app:
https://alternativeto.net/software/vsnotes/
(pending, will be accepted soon)

[2019-05-20 01:12] patleeman commented on #52
Cool, thanks for submitting it!

[2019-05-20 18:45] #52 closed

[2019-06-07 11:07] Philiphlop commented on #6
This is interesting, as it could be used flexibly. Offering structure in this way should help towards #10 also? I've used tags before for last edited date, so I could edit that date for my own entry.

Conversely, could this not be achieved with tags and templates? Then the user can decide on structure by having the template populate with either / or - (assuming #10 was using / for folders).

[2019-07-15 18:26] cssinate opened #53 ""Files" and "Tags" should start expanded"
The default state for these two main directories is collapsed. If a user is choosing to look at the extension tree view, it's most likely because they want to view one of their notes. This means that the majority of the time, it requires one extra click to get what the user is after. As a matter of efficiency, these two parent-level items should be expanded as default.

[2019-07-15 21:08] patleeman commented on #44
In https://github.com/patleeman/VSNotes/commit/1e6fd5c5396f720f1526a488f239ae91c0bd21ad I added the ability to list additional titles beyond the default title. If the option is populated, a picker will be shown when creating a new note with the option to choose your pre-set note titles.

This should solve your need. Feel free to open a new issue if there are any other questions/comments/suggestion

[2019-07-15 21:08] #44 closed

[2019-07-15 21:15] patleeman commented on #53
Thanks for the PR. Merged and will be released in 0.7.1

[2019-07-15 21:15] #53 closed

[2019-07-15 21:15] patleeman commented on #45
I like it.

[2019-07-15 21:19] patleeman commented on #45
Added a new command in https://github.com/patleeman/VSNotes/commit/6eb188ac887c1551f70c93a00da8fb58358f2813. I don't want to get rid of the old one yet but will begin deprecating it.

[2019-07-15 21:19] #45 closed

[2019-07-15 21:32] patleeman commented on #51
@MaddawgX9

How do you envision this feature working?

Context menu in the tree view? Or a command in the command palette?

[2019-07-15 21:45] #9 closed

[2019-07-15 21:50] patleeman opened #56 "Treeview improvements discussion"
I'm opening up an issue here to start a discussion about the treeview. Since it was added in 0.3.0 it hasn't received much love and in its current state isn't really all that useful.

I want to completely refactor it and build in some new features.

Here are some ideas:

1. Separate tags and notes into two sections.
1. Add a new section with links to commonly used commands.
1. Add a context menu w

[2019-07-15 21:54] patleeman opened #57 "Tags discussion"
Tags as YAML front matter was an idea I had when VS Notes was originally a markdown note taking extension, but I'm not really in touch with how users are using VSNotes now.

It would be helpful for me if the community could help me understand how the tags feature is used.

1. Do you use the tags feature?
2. What do you think about the YAML frontmatter?
3. Do you use a template to populate it or do

[2019-07-15 21:56] patleeman commented on #49
#38 was merged today and will show up in 0.7.1.

@juanlet if the suggestions above or this PR don't solve your problem, please open a new issue.

[2019-07-15 21:56] #49 closed

[2019-07-15 21:57] #22 closed

[2019-07-15 21:57] #14 closed

[2019-07-15 22:26] MaddawgX9 commented on #51
Either would be fine. I was thinking of a right click on note in the tree view -> "remove note" menu option, but if you think a command palette command would be better, then by all means, do it that way. I just need a way to clean up my notes from VSCode because once I finish an implementation I summarize my notes into our bug tracker tool and no longer need the note. Currently I'm stuck with stor

[2019-07-17 19:21] macintacos commented on #57
I used tags pretty heavily in the previous application that I used for note-taking: Bear. Having predominantly switched to VSNotes on the desktop, I find myself using tags less.

I think the fundamental problem with using it in VSNotes is that it's not as easy as it could be, and the fact that it needs to be at the top of the file (as far as I can tell) makes it more abrasive than it needs to be.

[2019-07-22 06:52] PierreMarchand20 opened #58 "No tag when creating a new note"
When I created a tag, I had the possibility to add tags in a front matter, but it seems that by default, there is no more front matter anymore, is it a bug ?

[2019-07-23 16:39] patleeman commented on #58
I think it's a bug.

In your settings, is the defaultSnippet setting set up? This should enable it again.

[code]

[2019-07-25 09:00] PierreMarchand20 commented on #58
It appears in my default settings and I did not overwrite it.

[2019-08-07 07:25] Philiphlop commented on #56
I think this is a great plan.

For the custom actions area, I would like to see ability for things like saved search/filtering? Some way to define my own custom things. As an example, show a filtered list for date older than 2018 and tagged Active Projects, so that I can start to review old notes etc etc.

I'm personally trying to use VSCode as a sort of personal Wiki, as it has the best MD editor

[2019-08-07 07:34] Philiphlop commented on #57
I too use tags a lot, hence the request for tag parent/child etc. The challenge with folders is that they are very restrictive to provide value information for what they contain. I use folders as a collection of material, more than just my notes, but any files, media, etc related to that. If I insert an image to the note, it is in the same folder, which leaves me with folders the name of a note an

[2019-08-16 06:15] flyisland commented on #56
1. sort notes by last modified date desc/asc
2. using $title or $first_h1 in treeview instead of the filename

[2019-08-29 12:58] stephanemoulec commented on #51
@patleeman First thanks for an awesome note taking tool. I am new to it but already hooked. I second @MaddawgX9 that being able to delete notes would be a great addition. My preferred solution would be a contextual right-click menu on the note. That would open future options like renaming, moving the note to a folder or deleting moving folders and notes. Not sure how to do that elegantly in the co

[2019-09-01 20:44] ironpillow opened #60 "list tags is not working"
Hi,

I am using
**VSCode**
Version: 1.37.1
Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
Date: 2019-08-15T16:16:34.800Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.2.0
macos: 10.14.3

**VSNotes: 0.71**

`cmd+shift+p` plus
- `VSNotes: list tags` is not working.
- `VSNotes: focus on vsnote view` is not working.

I have few documents created u

[2019-09-07 00:49] antonburger opened #61 "Allow either / or \ as path separators regardless of platform"
When creating new notes, it seems needlessly restrictive to require path separators to match the default used by the OS. See also #39.

1. Plenty of tools, including core VSCode functionality (e.g. the `explorer.newFile` command), as well as 3rd party ones like PowerShell, allow the use of either slash interchangeably. I mostly use Windows, but English keyboard layouts tend to a) keep `/` in the s

[2019-10-07 21:01] bfrggit commented on #60
Does not work for me either.

[2019-10-10 18:21] cdunster opened #63 "Feature Request: Auto sync (commit and push)"
It would be nice if VSNotes could automatically sync any changes to git with a default commit message when VSCode is closed, or maybe on save but that might be too much, even with a timeout it would be a lot of commits.

[2019-10-18 15:40] #48 closed

[2019-10-24 16:17] Ragnoroct commented on #61
I've created a PR to fix this. I've set it up so that the first separator found is the one used.

So input of `my/separated/note\with\both` is interpreted as `my/separated/note/with/both`
And `my\separated/note\with\both` is interpreted as `my\separated\note\with\both`

[2019-10-24 18:30] xeor opened #67 "noteTitleConvertSpaces can't be null"
Fixed in https://github.com/patleeman/VSNotes/pull/66

[2019-10-24 19:23] xeor commented on #10
Any updates on this? Sub-tags would be awesome!

[2019-10-25 11:32] xapfrom opened #68 "On searching notes, "files to include" not populating with configured path to VSNotes folder"

[2019-10-25 11:34] xapfrom opened #69 "Clicking on VSNotes sidebar icon does not display anything except for the continuously moving blue "bar" at the top of the left pane"

[2019-11-06 16:22] jcfrazier6 opened #70 "Trouble with save location"
I am getting the below error when refreshing from the notes panel.
ENOENT: no such file or directory, scandir ''

My save directory is:
"vsnotes.defaultNotePath": "c:\\Users\\username\\AppData\\Roaming\\Code\\User\\vsnotes"

The notes are being saved there but aren't being listed in the notes panel.

[2019-11-21 09:36] alanquigley-toast commented on #69
Same issue :(

[2019-11-21 09:40] alanquigley-toast commented on #69
`TypeError: Cannot use 'in' operator to search for 'tags' in tags - eslint - tech note	at /Users/alanquigley/.vscode/extensions/patricklee.vsnotes-0.7.1/src/treeView.js:165:28`

[2019-11-21 09:44] alanquigley-toast commented on #69
Disabling the tags at will allow you to use your notes via the folder navigation.

[2019-12-06 07:15] ryanwwest commented on #57
I agree with everything said above; tags are very useful for searching and organization and can eliminate the need for folders (folders provide a one-to-many relationship but tags can provide many-to-many graphs instead).

Something I'd love to see in a note-taking organizer is the ability view all tagged notes concatenate together, sorted by most recently modified by default. You could scroll bet

[2019-12-25 05:55] flyisland commented on #6
In terms of the granular, I think Outlook is a good example to follow:

[code]

[2020-01-15 02:33] christanplaza commented on #70
@jcfrazier6 I am currently having this issue also, do you have any updates on this?

[2020-01-22 20:36] leetucker opened #71 "Feature request: "Save as New Note""
Maybe I'm more scattered than the average person, but I often start typing in a new tab in VS Code, then only later decide that I want to save the tab's contents as a note.  It would be nice to have a "Save as New Note" command in VSNotes to handle this.

The logic I'm thinking of:

- If the current tab is still untitled (it has not been saved), then follow the standard "Create a New Note" procedu

[2020-02-06 11:24] aadm commented on #57
Tags are also very important for me. I agree that YAML frontmatter makes each individual note a bit "heavy" so I would recommend a change in that, e.g. using simple `#tag1, #tag2` within the files that will be captured by VSNotes. However, using `#` will trigger markdown formatting right? Maybe choose another character like [jrnl.sh](https://jrnl.sh/) that uses `@tag1` syntax? Or restrict tag capt

[2020-02-06 13:30] macintacos commented on #57
@aadm if the parser is implemented correctly, the “#” character in markdown only has meaning if it’s at the beginning of a line and there is a space afterwards. Hence why having a syntax of `#tag` would work just fine (and is commonly used in other systems like Bear). The only reason why I wouldn’t want to use “@“ is because I’m used to TaskPaper syntax (and commonly mix that into my markdown note

[2020-02-06 15:42] aadm commented on #57
@macintacos ok Julian then it's ok for me, I don't mind using either character, what I'm after is a much more compact tagging method.

[2020-02-17 14:27] mseliger opened #73 "Markdown Template in VSNotes: How to insert the filename of the generated file"
Is it possible to insert the filename of the generated VSNotes file in the markdown template, so that the first line of the note has the same name (with or without extension) as the generated file name of the note?
Example:
Note Name: 2004811434-VSNotes-Configuration.md
First Line of the note should then: # 2004811434-VSNotes-Configuration(.md)

[2020-03-04 08:31] metalelf0 commented on #68
This is because the extension populates the notes path (files to include) prepending `./`. E.g., if your notes folder is a sibling folder of your current project, it will output `./../Notes`. Removing the leading `./` makes the search work again. I'll see if I can fix it and submit a PR.

[2020-03-09 10:14] 1u0 opened #74 "Bug: default note path with ~ is not resolved properly on Linux"
The description of the `Default Note Path` config option says:
[code]

I have configured the option to something like `~/Documents/notes`.

When I run `VSNotes: Open Note Folder` command, I get an error dialog with `The path '/~/Documents/notes' does not seem to exist anymore on disk.` message.

Expected behavior: the extension should resolve the configured path properly (to something like `/home/

[2020-03-14 16:50] alanquigley-toast commented on #69
This was caused by a badly formatted tags section in one of my notes.

[2020-03-25 07:51] bugrasan commented on #73
While i was trying out the extension i was also looking into that. However I was thinking more like the filename part that you enter as the title - without the timestamp part, of course without the underscore `_` replacements for blank ` `

[2020-03-25 07:56] bugrasan opened #77 "front-matter parsing causes error and high cpu utilization"
create a new markdown document with:
[code]

then save. Afterwards click the "refresh" button on the VSNotes sidebar. Now it will spin endless.

the error is as following:
[code]

[2020-03-28 14:42] pierretoure commented on #69
**Fixed by using spaces indentation rather than tab**

*This seemed to be the issue, please give your feedbacks*

As pointed by @alanquigley-toast, in my case it seems to be caused by badly formatted tags section in few of my notes :

[code]

Because using **\t** for tab indentation in my snippet :

[code]

Fixed by replacing \t by **two spaces** :

[code]

[2020-04-04 16:38] hzuika commented on #70
I solved this error by ***Reload Windows***.
I hope this will help.

[2020-04-05 08:37] hzuika commented on #69
I have the same issue. Loading does not end. This occurred for folders with many subfolders and files.

When tried on a new small folder, this worked.
However, no tags were listed. I tried **tab**, **two spaces** and **four spaces**.

[2020-04-19 13:42] Xinyu-Wu-0000 commented on #10
a great idea!!!

[2020-04-25 19:23] #74 closed

[2020-04-26 17:48] jozefs commented on #36
I'd like to help as well. There are a few features I'd like to add, some of which have been discussed already. Before making any functional changes, I'd like to significantly refactor the code so that it is more testable. I've started by refactoring/rewriting the note parsing code and adding tests for it. Progress of this can be seen in the [master branch](https://github.com/jozefs/VSNotes/commits

[2020-05-03 23:44] gouletjg opened #81 "VSNotes never refreshes if 'tags' frontmatter is empty"
# Reproduce

This will never allow VSNotes to refresh the notes directory. It will endlessly spin.
[code]

This is a workaround to use empty tags frontmatter.

[code]

There should probably be a check to prevent an endless loop in VSNotes.

[2020-05-04 08:43] nocivus opened #82 "Feature Request: Menu entry for opening last created note"
Would be great to open the last created note (also updated) from the context menu. I currently use it for my daily notes and sometimes close the current one. Since the notes tree can get a bit slow as the number of tasks grows, it would be great to be able to instantly go to the last note. Thanks!

[2020-05-14 12:09] nicolastarzia opened #83 "Feature request: Don´t limit notes on 'Open notes'"
Would be awesome if 'Open notes' show all notes, only if the config 'listRecentLimit' equals to 0.

[2020-05-15 20:41] rdipietro commented on #51
@patleeman Thanks, VSNotes is great. I'm curious for the time being until this is addressed: what is your workflow for deleting notes? (I'm guessing it's more efficient than mine, which is to navigate to the notes directory e.g. via a terminal and delete the file that way.) Cheers.

[2020-05-17 08:52] MaddawgX9 commented on #51
Thanks @rdipietro for bumping this issue. It reminded me that after a year, I still really want a delete via the UI feature. I've submitted a pull request [here](https://github.com/patleeman/VSNotes/pull/85)

[2020-05-29 16:29] dfdumaresq opened #86 "Add Note to Workspace, Not Repository"
When I try to create a new note in a workspace, I am shown my repositories that are open with my Workspace and a new uncommitted vs note entry is created.

I do not wish to create a note in my repos, but rather in the VSCode workspace.

Am I missing something?

[2020-06-11 15:37] douglance opened #87 "Latest VS Code version breaks VSNotes"
Something about the new panel system in the latest VS Code makes it so VSNotes is not available in the sidebar.

[2020-06-11 18:02] #87 closed

[2020-06-24 00:25] RyanGreenup commented on #10
Subtags would be cool, but I would recommend using `/` to delimit them for the sake of:

1. Compatability with [Notable](https://github.com/notable/notable)
2. Simplicity of working with them
    * (e.g. there are already a couple of scripts [here])(https://github.com/notable/notable-customizations)
3. Compatability with [*WikiJS*](https://github.com/Requarks/wiki) which expects tags to be flat an

[2020-07-04 17:18] yadayadaydadaa opened #88 "Note source opening in wrong pane with previews"
If I have a markdown note open together with the preview, if the preview pane has the focus—and sometimes even if it doesn't—vsnotes opens new notes in the preview pane instead of the editing pane. I don't think this should be so.

[2020-07-04 18:02] yadayadaydadaa opened #89 "Images do not display"
This is probably related to various unfixed (yet closed) bugs in vscode itself (e.g., https://github.com/microsoft/vscode/issues/45757, https://github.com/microsoft/vscode/issues/45155, …), but basically, unless the note repository is open also as a workspace, images in the note preview are not rendered. This—not being able to open the notes from just any vscode workspace—reduces the usefulness of

[2020-07-23 23:34] jangroth commented on #69
I think the underlying issue that if _anything_ goes wrong when parsing tags, the view will stay empty and leave the user in the dark.

For me, the issue was a missing `:` after `tags` on one note, but it took a lot of guesswork to figure it out.

Would love to see an error message pointing out the problem or at least the log file location...

[2020-07-29 21:00] canpolat commented on #57
I'm very late to the party but here are my answers to the questions...

Yes. It is the main reason I'm using VSNotes.

I think it should be the ultimate place to store all metadata related to a note. When exporting markdown files into other formats, these could come in very handy (e.g., [Pandoc YAML metadata blocks](https://pandoc.org/MANUAL.html#extension-yaml_metadata_block)). So, while I'm not

[2020-07-29 21:01] canpolat commented on #36
@jozefs Your master branch looks refreshing really. What is the best way to build and install it locally?

[2020-08-04 11:55] jozefs commented on #36
@canpolat Thank you! The steps are roughly:

[code]

This will generate a vsix file that can be manually installed into VSCode. The latest version can also be downloaded from [Releases](https://github.com/jozefs/VSNotes/releases). Feel free to open an issue in my fork if you need any further help.

[2020-08-31 09:59] oldsj commented on #57
I would _love_ to have `#tag` support. It would be amazing to sync my notes to mobile and have tags supported, but all apps I've tried don't support reading tags from frontmatter (only `#` style).

[2020-10-07 08:36] pchampin commented on #69
For me the problem was a missing space after title:
[code]
Now that I know it, I'll check the console whenever the VSNotes pen is empty, but it really should be robust to that kind of things...

[2020-10-07 15:11] pchampin opened #91 "Feature request: tag hierarchy"
I would be nice if the Tags list could have a hierarchical structure, based on naming conventions in tags. For example
[code]
currently appears as
[code]

but it would be nice to display it like:
[code]

[2020-10-07 15:12] pchampin commented on #91
Comments:
* this could of course be optionally enabled/disabled in the settings
* the colon (`:`) character is just a suggestion here; probably, this could also be customizable

[2020-12-07 23:55] kndysfm commented on #10
I also want this feature, so I've tried to implement it.
https://github.com/kndysfm/VSNotes-1/commit/64910f03424bf7df43a2990ea6a4ef3fde5837a4 (I am not using JS mainly, so please give me any advise)
I defined the new config value `vsnotes.tagSplitter` .
And I like to use '.' for it like: `- tagA.subB.subsubC`

[2020-12-08 00:26] kndysfm commented on #10
I started using VSNotes recently, and I want this feature too.
So I tried to implement it (https://github.com/kndysfm/VSNotes-1/commit/64910f03424bf7df43a2990ea6a4ef3fde5837a4)
![image](https://user-images.githubusercontent.com/6650886/101421227-3760b000-3937-11eb-8ee2-43211bb174fe.png)
I defined parameter `vsnotes.tagSplitter`, and I like to use '.' fot it.

[2021-02-10 20:42] mateus-amarante opened #92 "Not able to override meeting snippet"
I was not able to override the meeting snippet. I set the markdown user snippet file with:
[code]
And set `"vsnotes.templates": [ "meeting" ]` in my `settings.json` file. When add a new note I can select the "meeting" snippet, but it applies the default version provided by the extension. When I hit `Ctrl+Space` I see the two snippets of the same name.

One suggestion would be removing it from [pac

[2021-02-12 08:20] RoneoOrg commented on #73
You can get the filename inserted with `$TM_FILENAME`. For example `"id: $TM_FILENAME"`

Refer to [the doc for more information](https://code.visualstudio.com/docs/editor/userdefinedsnippets#_variables)

[2021-02-22 18:10] parsiya opened #93 "Templates are not used when using 'Create a new note in the workspace'"
Current behavior:

1. 'Create a new note' command asks for the template to use when creating a new note.
2.  'Create a new note in the workspace' does not ask for a template and uses the default one.

Expected behavior:

1. The 'Create a new note in the workspace' command asking for a template.

[2021-02-28 11:55] moocan commented on #25
@patleeman
Thank you for your great extention.

I would like to support this request because I prefer to centralize all my notes eg inside my workspace `${workspaceFolder}/.note` and your new command create note inside `workspace.rootPath` causing for me many many files in my workspace.

Regards

[2021-03-18 08:52] saafaar opened #94 "Default template name miscofigured after fresh install"
Current behaviour:
Installed VSNotes on 2021.03.17.. With creating a new note no snippet is inserted. Snippets are present and can be pasted from the `Ctrl + Space` menu. Looking at the config the Default Snippet name is set to `vsnotes`.
![Vsnotes-default-snip-bug](https://user-images.githubusercontent.com/22193171/111597265-4a084200-87ce-11eb-9eaf-acba71ff39bd.PNG)

Expected behaviour:
Insert sn

[2021-03-29 07:56] im-richard opened #95 ""View Notes" VS Explorer"
I'm not sure if I'm missing something however I'll try to explain.

VSNotes displays the icon to the left which gives me a general layout showing my note + tags.

(See Screenshot) [](https://i.imgur.com/VHoPdZf.png)

All I see in that area is a fresh button. No way to create folders, etc.

However, if I select "VSNotes: Open Notes Folder"; it opens VSCode again in a second instance, but now shows

[2021-03-31 02:10] shiimaxx opened #96 "Any plans for a new release?"
Thank you for your fantastic project.

I want to use new features and fixes that have merged so far.
Do you have any plans for a new release to Marketplace?

[2021-04-12 15:19] Geobert commented on #83
Yes please, I was wondering why a note was not appearing in the "open note" action

[2021-05-12 22:45] jangroth opened #99 "Where can I find the logs?"
I don't see any notes in the left pane. So something can't be parsed, is my guess (see e.g. #69 ).

However, I have no idea where to look for the problem, my notes folder isn't small.

I'm not exactly a VSCode expert, but I've checked all options under 'OUTPUT' in the terminal window - couldn't relate anything to VSNote.

Also no log files in the extension folder (` ~/.vscode/extensions/patricklee

[2021-05-16 20:31] jangroth opened #100 "Is this project still maintained?"
@patleeman

I'm afraid the answer might be 'no', given that it's been over a year since the last commit...

I would appreciate a short response, I believe this plugin has a decent number of users and it'll be good for people to understand where this project is at.

Thanks very much (also for implementing the plugin in the first place!)

[2021-05-16 21:46] patleeman commented on #100
@jangroth thanks for reaching out. I unfortunately don't have the time to maintain this anymore.

[2021-06-28 19:37] Valindo commented on #100
Hey @patleeman , thank you for building this beautiful and simple note taking extension.
Wondering if you are open to me helping you maintain this, I love this extension and willing to help.

[2021-07-12 22:23] jangroth commented on #100
@patleeman - with 40,000+ active installation, it would be great if you could at least consider allowing others to step up maintaining this awesome project. Thanks!

[2021-07-19 21:20] benedictjohannes commented on #100
I have several feature request/suggestion such as tree view allowing right click a folder and have the option to add new notes similar to the File Explorer side pane.

@patleeman if you can allow more maintainers, that would allow for more new features for this extension. I'm loving it and would be thrilled to see if it can see new development.

[2021-07-19 21:44] jangroth commented on #100
Alternatively, there's the option to fork this repo to get development going again... 🤔

[2021-08-04 00:43] ognjenio opened #101 "[FEATURE] - Setting for whether a new directory may be created"
Hi,

Adding auto-complete for notes might be a bit more involved. Instead, as a temporary improvement it might be a good idea to have a setting for whether New Note is allowed to create new directories.

The current behaviour would correspond to the setting set to true.

If the setting is set to false, a notification can popup saying that this setting is false and that the entered folder does not

[2021-08-17 00:56] cherir3018yuu commented on #95
Same with me.

I can do "Vsnote: Create a New Note", but  I can't get VSnotes in my explorer tab and my note + tags.
![image](https://user-images.githubusercontent.com/49478117/129646894-24330e3d-9dc5-42d8-be60-ca9c6ab95994.png)

[2021-08-17 06:16] cherir3018yuu commented on #95
The problem is now solved！
---------------------------------------
▼
⑴VSnotes: Run setup
⑵set up "other file" I create & Delete previously setup  file
⑶Developer: Reload Window
---------------------------------------

[2021-08-22 17:22] Valindo commented on #100
@jangroth looks like that would be the way to go, I've emailed the owner and no response as well.
Let me know if you are considering forking the repo, I would love to help.

[2021-08-22 22:34] jangroth commented on #100
@Valindo  - I'm not a JavaScript developer unfortunately, so I'm not a big help here... 😞

Let's leave this thread open, maybe others end up here and we can get some momentum into this.

[2021-08-24 04:43] dullnzr commented on #69
Can confirm that tag format can cause this issue.  I found a note with 3 spaces before a tag instead of two.  Once corrected it loaded fine.

[2021-09-30 19:09] canpolat commented on #100
As far as I know @jozefs created a fork and did some improvements in the code base (including migrating to TypeScript). I even created an issue on his project asking him to fork this repo. He did not seem very interested by then, but who knows...

- https://github.com/jozefs/VSNotes
- https://github.com/jozefs/VSNotes/issues/1#issue-672883607

[2021-11-08 10:12] shiimaxx commented on #96
https://github.com/patleeman/VSNotes/issues/100

[2021-11-08 10:12] #96 closed

[2021-11-08 10:45] jozefs commented on #100
@canpolat Apologies for not responding earlier. I have indeed created a fork and modernised the code base to make it easier to maintain and add new features to. My main motivation was to add a few features I needed and fix a few bugs that I encountered while evaluating VSNotes. However it was always my intention to contribute the changes back to VSNotes as I am not willing to maintain a fork on my

[2021-11-08 16:09] canpolat commented on #100
@jozefs Thank you for the response. I have also stopped using VSNotes. I saw an interest in forking the code base and wanted to point them to your fork. Perhaps they can build on top of your work.

[2021-11-08 16:58] jozefs commented on #100
If there's any interest to build on top of my fork, I would be happy to spend a bit of time to hand over/facilitate.

[2021-12-05 04:56] jangroth commented on #100
I feel [Dendron](https://www.dendron.so/) is the VSCode note taking plugin that I always hoped for. Also, unlike this project, it's not dead :-)

[2022-03-03 10:28] NandaKishorJeripothula commented on #100
@jozefs can we preview your version in vscode?

[2022-03-03 10:42] jozefs commented on #100
Yes, the package is published in [my fork's releases](https://github.com/jozefs/VSNotes/releases). Please note though that it's been almost two years since I last used it and may have issues with current versions of VSCode.

[2022-03-04 13:20] Oscuro87 opened #105 "[Suggestion] Find note by specific date, or by date range"
First thanks for this great VSCode extension!

## Problem
I use VSNotes quite extensively. I have a lot of notes. Sometimes, I am unable to find the note by file name, or even by tag (eg: forgot to set them up).

Alternatively, say a colleague shows up and asks me for a note from that specific date, or from about that date range.

## Possible solution
Say I have a rough (or precise) idea of when I